.app__items {
	height: 100%;
	margin-left: -22px;
	float: right;
	}
	
.app__item {
	width: 332px; height: 88px;
	}

.powered_by {
	width: 22px;
	}

.image-container {
	top: 6px; left: 6px;
	}

.rating {
	top: 67px; left: 93px; right: 0; margin: 0;
	width: 58px;
	}

.app-texts {
	top: 8px; left: 96px;
	.title {
		font-size: 1.4em; line-height: 1;
		display: block;
		font-weight: bold;
		width: 130px; height: 15px;
		overflow: hidden;
		margin-bottom: 0.3em;
	}
	.description {
		color: #616161;
		display: block;
		width: 130px;
	}
}

.os-logo {
	top: 64px; left: 156px;
	width: 62px;
}

.button {
	top: 30px; right: 5px;
	width: 100px; height: 28px;
	font-size: 1.4em; line-height: 1.3;
}
