.app__item {
	height: 269px;
	}



.headline {
	font-size: 1.4em;
	line-height: 0.8;
	}
	
.app-texts .title{
	font-size: 1.8em;
	}

.app-texts .description {
	font-size: 1.1em;
	max-height: none;
	overflow: hidden;
	}
	
.os-logo {
	top: 209px;
	width: 70px;
	}
	
.button {
	font-size: 1.4em;
	top: 230px;
	width: 110px; height: 31px; line-height: 31px;		
	}