.headline {
	display: none;
	}	

.app__item {
	width: 214px; height: 34px;
	}

.image-container {
	top: 2px; left: 21px; right: auto; margin: 0;
	width: 29px; height: 29px;
	img {
		box-shadow: 0 1px 1px rgba(0,0,0,0.5);
		border-radius: 3px;
		}
	}
	
.rating {
	top: 20px; left: 55px; right: 0; margin: 0;
	width: 42px;
	}
	
.app-texts {
	top: 5px; left: 55px; right: auto;
	.title {
		font-size: 1.2em; line-height: 1;
		width: 86px; height: 13px;
		overflow: hidden;
		}
	.description {
			display: none;
		}
	}
	
.os-logo {
	top: 20px; left: 100px; margin: 0;
	width: 43px;
	}
	
.button {
	top: 8px; right: 4px; left: auto; margin: 0;
	width: 63px; height: 18px; line-height: 18px;
	font-size: 1em;
	}
	
.powered_by {
	top: 2px; left: 5px; right: auto; margin: 0;
	width: 10px; height: 28px;
	border-right: 1px solid #808080;
	._X-line-2 {
		display: none;
		}
	._Y-smallest {
		display: block;
		height: 100%;
		width: auto;
		}
	}