.app__item {
	width: 298px; height: 48px;
	}

.powered_by {
	top: 2px; left: 5px; right: auto; margin: 0;
	width: 14px; height: 44px;
	border-right: 1px solid #808080;
	._Y-smallest {
		display: none;
		height: 100%;
		width: auto;
		}
	._Y-line-1 {
		display: block;
		height: 100%; width: auto;
		}
	}
	
.image-container {
	top: 2px; left: 25px; right: auto; margin: 0;
	width: 43px; height: 43px;
	img {
		box-shadow: 0 1px 1px rgba(0,0,0,0.5);
		border-radius: 5px;
		}
	}
	
.app-texts {
	top: 5px; left: 73px; right: auto;
	.title {
		font-size: 1.8em; line-height: 1;
		font-weight: bold;
		width: 121px; height: 15px;
		overflow: hidden;
		}
	.description {
			display: none;
		}
	}

.rating {
	top: 30px; left: 73px; right: 0; margin: 0;
	width: 62px;
	}
	
	
.os-logo {
	top: 29px; left: 138px; margin: 0;
	width: 61px;
	}
	
.button {
	top: 11px; right: 6px; left: auto; margin: 0;
	width: 87px; height: 25px; line-height: 25px;
	font-size: 1.2em;
	}