.app__item {
	position: relative;
	width: 290px;
	height: 176px;
	margin: 0 auto 15px auto;
	}
	
.headline {
	height: 63px;
	}
	
.image-container {
	top: 0; left: 0;
	width: 100px; height: 100px;
	img {
		box-shadow: 0 2px 1px rgba(0,0,0,0.2);
		border-radius: 5px;
		}
	}
	
.rating {
	top: 119px; left: 0;
	width: 74px;
	}
	
.os-logo {
	top: 137px; left: 0;
	width: 87px;
	}
	
.app-texts {
	top: 0; left: 120px;
	.title {
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 0.5em;
		color: #000;
		}
	.description {
		color: #898989;
		font-size: 1.2em;
		line-height: 1.3;
		}
	}
	
.button {
	top: 119px; left: 120px;
	width: 141px; height: 40px;
	font-weight: bold;
	font-size: 1.9em;
	span {
		display: block;
		va();
		}
	}
	
.powered_by {
	position: relative;
	width: 175px; height: 43px;
	margin: 0 auto;
	a {
		display: block;
		height: 100%;
		}
	._X-line-1 {
		display: block;
		va();
		}
	}