.app__items {
	height: 100%;
	margin-left: -29px;
	float: right;
	}
	
	.app__item {
		width: 349px; height: 88px;
		}

.powered_by {
	width: 29px; padding-left: 6px;
	}
	
.image-container {
	top: 6px; left: 12px;
	width: 76px; height: 76px;
	img {
		box-shadow: 0 2px 1px rgba(0,0,0,0.2);
		border-radius: 5px;
		}
	}
		
	.rating {
		top: 67px; left: 93px; right: 0; margin: 0;
		width: 58px;
		}
		
	.app-texts {
		top: 8px; left: 96px;
		.title {
			font-size: 1.4em; line-height: 1;
			display: block;
			font-weight: bold;
			width: 131px; height: 15px;
			overflow: hidden;
			margin-bottom: 0.3em;
			}
		.description {
				color: #616161;
				display: block;
				width: 131px;
				max-height: 34px;
				overflow: hidden;
			}
		}
		
	.os-logo {
		top: 64px; left: 162px;
		width: 63px;
		}
		
	.button {
		top: 30px; right: 13px;
		width: 100px; height: 28px;
		font-size: 1.4em; line-height: 1.3;
		}