.app {
	display: none;
	position: relative;
	width: 100%; height: 100%;
	background: #f9f9f9;
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	}

.app__item {
	position: relative;
	cursor: pointer;
	}

.image-container,
.rating,
.app-texts,
.os-logo,
.button,
.powered_by {
	position: absolute;
	top: 0; left: 0;
	}
	
.image-container img,
.rating img,
.os-logo img,
.powered_by img {
		width: 100%;
		display: block;
	}


.powered_by {
	._X-line-1,
	._X-line-2,
	._Y-line-1,
	._Y-smallest {
		display: none;
		}	
	}

.button {
	width: 100px; height: 28px;
	background: #f37a21;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 28px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	text-align: center;
	box-shadow: 0 2px 1px rgba(0,0,0,0.2);
	}
	
.title {
	overflow: hidden;
	max-height: 40px;
	}
