* {
	box-sizing: border-box;
	margin: 0; padding: 0;	
	}

html {
	font-size: 62.5% !important;
	line-height: 1.8em !important;
	font-family: Arial !important;
	overflow: hidden;
	}

html,
body {
	font-family: Arial !important;
	height: 100%;
	}

body{
	font-size: 1em;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #fff;
	line-height: 1.1;
	box-sizing: border-box;
	padding: 1px;
	}