rupture.scale        = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
va()
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
		
// 

html
	font-size 62.5% !important
	line-height 1.8em !important
	font-family Arial !important
	overflow hidden

body
	font-size 1em !important
	overflow hidden
	margin 0
	padding 0  
			
.app * 
	box-sizing border-box
	margin 0
	padding 0  
	
// elements

.headline {
	position: absolute;
	}